footer {
  background: #001333 !important;
  padding: 30px 0px 0px 0px;
  margin-top: 100px;
  display: block;
  bottom: 0px;
  width: 100%;
  height: 10rem;
  font-family: "MyriadPro-Regular";
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #007bff;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 0.5px solid #cee5f6;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

footer {
  background-color: #001333;
  padding: 30px 0px 0px 0px;
  color: #fff;
  font-family: "MyriadPro-Regular";
}
.menu-container {
  padding: 10px 90px;
}
